<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Name">
    <br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br>
    <input type="text" th:field="*{enabled}" id="enabled" placeholder="Enabled">
    <br>
    <input type="submit" value="Create User">

</form>
</body>
</html>